// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$title-link: rgb(55,122,183);

.article-title {
  color: $title-link;
}

a:hover {
  text-decoration: none;
}